body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;

  background: radial-gradient(circle, rgb(58, 241, 58) 30%, rgb(73, 158, 73));

  display: flex;
  min-height: 100vh;
  margin: 0;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.load-intro {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-duration: 2.5s;
  animation-name: introslide;
  animation-timing-function: ease-in-out;
}

@keyframes introslide {
  from {
    position: fixed;
    top: 0%;
    opacity: 0%;
  }

  30% {
    position: fixed;
    top: 60%;
    opacity: 100%;
  }

  to {
    position: fixed;
    top: 50%;
  }
}

.load-userform {
  padding: 100px;

  animation-duration: 1s;
  animation-name: userformSlide;
  animation-timing-function: ease-in-out;
}

@keyframes userformSlide {
  from {
    position: fixed;
    top: 100%;
    opacity: 0%;
  }

  to {
    position: fixed;
    top: 50%;
    opacity: 100%;
  }
}

.intro-out {
  position: fixed;
  top: 0%;
  opacity: 0%;

  transition: 1s;
}

.app {
  margin: auto;
  width: 1000px;
  min-width: 240px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 13px 4px #4b4b4b7e;
  border-radius: 9px;
  display: grid;
  grid-template-columns: 1fr;
  height: fit-content;
}

#app-logo {
  /* text-align: center; */
  margin-top: 0;
  grid-column: 1/3;
  grid-row: 1/2;
  justify-self: center;
}

/************************************************* Tabs Section ************************************************/

#tablinks {
  grid-column: 1/3;
  grid-row: 2/3;
  display: flex;
}

.tablink {
  background-color: rgb(131, 129, 129);
  color: white;
  border: none;
  cursor: pointer;
  padding: 14px;
  font-size: 17px;
  width: 50%;
}

.tablink:hover {
  background-color: #777;
}

.tablinkActive {
  background-color: rgb(66, 66, 66);
}

#link-my-meals {
}

#link-results {
}

/********************************************** Greetings Section ************************************************/

#greetings-section {
  /* display: inline-block; */
  /* max-width: 70%; */
  margin-left: 30px;
  grid-column: 1/2;
  grid-row: 1/2;
}

/*********************************************** Calories Section ************************************************/

#calories-section {
  margin-top: 25px;
  margin-right: 30px;
  text-align: right;
  grid-column: 2/3;
  grid-row: 1/2;
}

#calories-value {
  margin-bottom: 0;
}

#btn-edit {
  /* height: 0.7rem; */
}

#kcal {
  font-size: 1rem;
}

/************************************************* Meals Section *************************************************/
#my-meals-view {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#meals {
  grid-column: 1/3;
  grid-row: 2/3;
}

#selected-meals-section {
  margin: 50px 0 20px 0;
}

#selected-meals {
  overflow-y: auto;
  height: 170px;
}

#meals-repo {
  overflow-y: auto;
  height: 170px;
  margin-bottom: 20px;
}

#icon-nutritionalise {
  float: right;
  margin-left: 13px;
  margin-right: 8px;
}

#icon-nutritionalise:hover {
  filter: invert(79%) sepia(16%) saturate(4085%) hue-rotate(2deg)
    brightness(108%) contrast(105%);
}

#icon-nutritionalise:active {
  width: 20px;
  margin-left: 15px;
}

.meal {
  background-image: linear-gradient(
    to right,
    rgb(0, 214, 11),
    rgb(66, 189, 17)
  );
  border-width: 1px;
  border-color: limegreen;
  border-style: solid;
  box-shadow: 0px 10px 14px -7px #3e7327;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  position: relative;
}

.meal-icon {
  position: absolute;
  filter: invert(100%);
  bottom: 5px;
  cursor: pointer;
  width: 17px;
}

.icon {
  filter: invert(0%);
  width: 22px;
  cursor: pointer;
}

#icon-create {
  float: right;
}

#icon-create:active {
  width: 20px;
}

#meal-remove {
  right: 10px;
}

#meal-add {
  right: 10px;
}

#meal-bin {
  right: 45px;
}

#meal-edit {
  right: 80px;
}

.meal-icon:active {
  width: 16px;
}

.horizontal-lines {
  border: 1px solid limegreen;
}

/***************************************************** Modals *****************************************************/

.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 25rem;
  min-width: 200px;
  height: fit-content;
  background-color: white;
  border-radius: 9px;

  padding: 30px;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
  z-index: 1000;
  transition: all 0.5s;
}

.form-meal {
  display: grid;
  grid-template-columns: 2.3fr 1fr;
}

.btn-meal-form {
  grid-column: 1/3;
  grid-row: 5/6;
}

.heading-modal {
  grid-column: 1/3;
  grid-row: 1/2;
  justify-self: center;
}

.div-meal-name {
  /* display: inline; */
  margin-bottom: 1rem;
  grid-column: 1/2;
  grid-row: 2/3;
}

.div-meal-servings {
  /* display: inline;
  margin-left: 1rem; */
  margin-bottom: 1rem;
  grid-column: 2/3;
  grid-row: 2/3;
}

.div-meal-ingredients {
  /* margin-top: 3rem;
  display: inline-block;
  text-align: left; */
  margin-bottom: 1rem;
  grid-column: 1/3;
  grid-row: 4/5;
}

.div-calories {
  grid-column: 1/3;
  grid-row: 2/3;
  justify-self: center;
  text-align: center;
  margin-bottom: 1rem;
}

.input-meal-name {
  width: 132px;
  border: none;
  border-bottom: 1px solid limegreen;
  outline: none;
}

.input-meal-servings {
  width: 30px;
  border: none;
  border-bottom: 1px solid limegreen;
  outline: none;
}

.input-meal-ingredients {
  width: 21.5rem;
  border: 1px solid limegreen;
  outline: none;
}

#input-calories {
  width: 45px;
  border: none;
  border-bottom: 1px solid limegreen;
  outline: none;
  margin-bottom: 10px;
}

.btn-submit {
  box-shadow: 0px 10px 14px -7px #3e7327;
  background: linear-gradient(to bottom, #55e30d 5%, #72b352 100%);
  background-color: #55e30d;
  border-radius: 6px;
  border: 1px solid #4b8f29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #5b8a3c;
  user-select: none;
}

.btn-submit:active {
  background: linear-gradient(to bottom, #72b352 5%, #55e30d 100%);
  background-color: #72b352;
  position: relative;
  top: 1px;
}

.btn-close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.1rem;
  right: 1rem;
  font-size: 3.5rem;
  cursor: pointer;
  border: none;
  background: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.message {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -10%);
  color: #20d33e;
  z-index: 2000;
  transition: all 0.5s;
}

/*********************************************** Results View ********************************************/

#results-view {
  text-align: center;
}

#nutrition-table {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  margin-bottom: 1rem;
}

#header-nutrition-table {
}

table {
  border-spacing: 0 15px;
  border-collapse: collapse;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  margin: 25px 0;
  font-size: 0.9rem;
  font-family: sans-serif;
  min-width: 235px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
  background-color: #3acc2c;
  color: #ffffff;
}

tbody tr {
  border-bottom: thin solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #3acc2c;
}

/********************************************** Donut Charts ********************************************/

#charts {
  margin-top: 2rem;
}

.chart {
  display: inline-block;
  margin: 0 4rem;
}

#donutchart1 {
}

#donutchart2 {
}

/********************************************** Media Queries ********************************************/

@media (max-width: 1055px) {
  body {
    margin: 0 8px;
  }
}

@media (max-width: 830px) {
  .form-meal {
    grid-template-columns: 1fr;
  }

  .btn-meal-form {
    grid-column: 1/2;
    grid-row: 5/6;
  }

  .heading-modal {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
  }

  .div-meal-name {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .input-meal-name {
    width: 105px;
  }

  .div-meal-servings {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .div-meal-ingredients {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .input-meal-ingredients {
    width: 12rem;
  }
}

@media (max-width: 700px) {
  body {
    margin: 8px;
  }

  #my-meals-view {
    grid-template-columns: 1fr;
  }

  #greetings-section {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 0;
    text-align: center;
  }

  #calories-section {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-right: 0;
    text-align: center;
  }

  #meals {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .chart {
    margin: 0 1rem;
  }
}
