body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;

  background: radial-gradient(circle, rgb(58, 241, 58) 30%, rgb(73, 158, 73));
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.load-intro {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-duration: 2.5s;
  animation-name: introslide;
  animation-timing-function: ease-in-out;
}

@keyframes introslide {
  from {
    position: fixed;
    top: 0%;
    opacity: 0%;
  }

  30% {
    position: fixed;
    top: 60%;
    opacity: 100%;
  }

  to {
    position: fixed;
    top: 50%;
  }
}

.load-userform {
  padding: 100px;

  animation-duration: 1s;
  animation-name: userformSlide;
  animation-timing-function: ease-in-out;
}

@keyframes userformSlide {
  from {
    position: fixed;
    top: 100%;
    opacity: 0%;
  }

  to {
    position: fixed;
    top: 50%;
    opacity: 100%;
  }
}

.intro-out {
  position: fixed;
  top: 0%;
  opacity: 0%;

  transition: 1s;
}

.app {
  width: 1000px;
  height: 800px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 13px 4px #4b4b4b7e;
  border-radius: 9px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#app-logo {
  text-align: center;
  margin-top: 0;
}

/************************************************* Tabs Section ************************************************/

#tablinks {
  display: flex;
}

.tablink {
  background-color: rgb(131, 129, 129);
  color: white;
  border: none;
  cursor: pointer;
  padding: 14px;
  font-size: 17px;
  width: 50%;
}

.tablink:hover {
  background-color: #777;
}

#link-my-meals {
}

#link-results {
}

/********************************************** Greetings Section ************************************************/

#greetings-section {
  display: inline-block;
  max-width: 70%;
  margin-left: 30px;
}

/*********************************************** Calories Section ************************************************/

#calories-section {
  margin-top: 25px;
  float: right;
  margin-right: 30px;
  text-align: right;
}

#calories-value {
  margin-bottom: 0;
}

#btn-edit {
  /* height: 0.7rem; */
}

#kcal {
  font-size: 1rem;
}

/************************************************* Meals Section *************************************************/

#selected-meals-section {
  margin: 50px 0 20px 0;
}

#selected-meals {
  overflow-y: auto;
  height: 170px;
}

#meals-repo {
  overflow-y: auto;
  height: 170px;
}

#btn-nutritionalise {
  float: right;
  margin-left: 10px;
  /* box-shadow: 0px 10px 14px -7px #6b6b6b;
  background-image: linear-gradient(
    to right,
    rgb(4, 196, 14),
    rgb(73, 216, 16)
  );
  color: white;
  cursor: pointer;
  border-radius: 5px;
  border-color: limegreen; */
}

#btn-nutritionalise:hover {
  background-image: linear-gradient(
    to right,
    rgb(233, 210, 5),
    rgb(255, 251, 13)
  );
  border-color: gold;
  color: goldenrod;
}

#btn-create-meal {
  float: right;
  /* box-shadow: 0px 10px 14px -7px #6b6b6b;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    rgb(4, 196, 14),
    rgb(73, 216, 16)
  );
  color: white;
  border-radius: 5px;
  border-color: limegreen; */
}

.meal {
  background-image: linear-gradient(
    to right,
    rgb(0, 214, 11),
    rgb(66, 189, 17)
  );
  border-width: 1px;
  border-color: limegreen;
  border-style: solid;
  box-shadow: 0px 10px 14px -7px #3e7327;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  position: relative;
}

.meal-icon {
  position: absolute;
  filter: invert(100%);
  bottom: 5px;
  cursor: pointer;
  width: 17px;
}

#meal-remove {
  right: 10px;
}

#meal-add {
  right: 10px;
}

#meal-bin {
  right: 45px;
}

#meal-edit {
  right: 80px;
}

.meal-icon:active {
  width: 16px;
}

.horizontal-lines {
  border: 1px solid limegreen;
}

/***************************************************** Modals *****************************************************/

.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  background-color: white;
  border-radius: 9px;
  text-align: center;

  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
  z-index: 1000;
  transition: all 0.5s;
}

.heading-modal {
  margin-top: 0;
}

.div-meal-name {
  display: inline;
}

.div-meal-servings {
  display: inline;
  margin-left: 1rem;
}

.div-meal-ingredients {
  margin-top: 3rem;
  display: inline-block;
  text-align: left;
}

.input-meal-name {
  border: none;
  border-bottom: 1px solid limegreen;
  outline: none;
}

.input-meal-servings {
  width: 30px;
  border: none;
  border-bottom: 1px solid limegreen;
  outline: none;
}

.input-meal-ingredients {
  border: 1px solid limegreen;
  outline: none;
}

#input-calories {
  width: 45px;
  border: none;
  border-bottom: 1px solid limegreen;
  outline: none;
  margin-bottom: 10px;
}

.btn-submit {
  box-shadow: 0px 10px 14px -7px #3e7327;
  background: linear-gradient(to bottom, #55e30d 5%, #72b352 100%);
  background-color: #55e30d;
  border-radius: 6px;
  border: 1px solid #4b8f29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #5b8a3c;
  user-select: none;
}

.btn-submit:active {
  background: linear-gradient(to bottom, #72b352 5%, #55e30d 100%);
  background-color: #72b352;
  position: relative;
  top: 1px;
}

.btn-close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 1.6rem;
  font-size: 3.5rem;
  cursor: pointer;
  border: none;
  background: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.message {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  color: #20d33e;
  z-index: 2000;
  transition: all 0.5s;
}

/*********************************************** Results View ********************************************/

#results-view {
  text-align: center;
}

#nutrition-table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70%;
  margin-bottom: 1rem;
}

#header-nutrition-table {
}

.header-requirements {
  display: inline;
  margin-right: 5rem;
}

.header-meals {
  display: inline;
  margin-left: 5rem;
}

/********************************************** Donut Charts ********************************************/

#charts {
  margin-top: 2rem;
}

.chart {
  display: inline-block;
  margin: 0 4rem;
}

#donutchart1 {
}

#donutchart2 {
}
